*{
    box-sizing: border-box;
}

body{
    display: block;
    background-image: url(https://young.scot/media/5203/summer-rocks-1.gif);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.form{
    margin-top: 300px;
}

.input{
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 30px;
}